.canvas {
  height: 100vh;
  width: 100vw;
}

.sim-record-button {
  position: fixed;
  bottom: 20px;
  left: 20px;

  svg {
    background-color: none;
    height: 29.5px;
    aspect-ratio: 1;
    cursor: pointer;

    stroke: #f0f0f0;
    fill: #222222;
  }
}
